body{
    margin: 0;
    background-color: white;
}
a{
    text-decoration: none;
    font-size: 25px;    
    color: black;

}
li{
    list-style-type: none ;
    line-height: 50px;
}
.sidebar{
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 173);
    height: 100vh;
    width: 250px;
    border: 2px solid #ccc;
    transition: width 0.75s;
    overflow-x: hidden; 
    
}

.openbar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

#openside  {
    transition: margin-left 0.75s ease;
    font-size: larger;
    color: white;
    background-color: black;
}

li:hover{
    background-color: #ffd966;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.75s ease-in-out;
    
}
li ul {
    display: none;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
}
li:hover>ul{
    display: block;
}
